.container {
  background-color: rgba(92, 189, 143, 0.61);
  border-radius: 5px;
  padding: 10px;
  text-align: center;

}
h3{
  text-align: center;
}
.error.message{
  color:red
}
.navbar-custom {
  background-color: lightgreen!important;
}
/* Modify brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: green;
}